@media (max-width: 600px) {

	#canvas-wrapper {
		display: none;
	}

	#header-infos {
		width: 100%;
		float: none;
	}

	#infos-container {
		  padding: 0 20px;
	}

	.section h2 {
		line-height: 2em;
	}

	.song {
		float: none;
		padding: 0 0;
		width: auto;
		margin-bottom: 25px;
	}

	.song .inner-song {
		margin: 0;
	}

	.photo {
		float: none;
		width: auto;
	}

	.photo .inner-photo {
		margin: 0;
	}
}
