@media (max-width: 600px) {

	#canvas-wrapper {
		display: none;
	}

	#header-infos {
		width: 100%;
	}

	#infos-container {
		padding: 0 20px;
		margin: 0;
		font-size: 16px;
	}

	#infos-container h2 {
		font-size: 40px;
		margin-bottom: 20px;
	}

	#infos-container .pre, #infos-container a {
	    font-size: 15px;
	}

	.section {
		padding: 25px 25px;
	}

	.section h2 {
		padding: 0;
		font-size: 1.3em;
		line-height: 38px;
	}

	.section h2 span {
	    border-bottom: 3px solid;
	    padding-bottom: 2px;
	}

	.section .more {
		padding-top: 20px;
	}

	.song {
		float: none;
		padding: 0 0;
		width: auto;
		margin-bottom: 25px;
	}

	.song .inner-song {
		margin: 0;
	}

	.photo {
		float: none;
		width: auto;
	}

	.photo .inner-photo {
		margin: 0;
	}

	.lab-item {
		float: none;
    	width: 100%;
    	padding-top: 100%;
    	margin-bottom: 50px;
	}

	.lab-item .inner-lab-item {
		left: 0;
		right: 0;
	}
}
